body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  background-color: #101010;

}

.home {
  background-image: linear-gradient(rgba(0, 0, 0, 0.57), rgba(0, 0, 0, 0.6)), url("image/bg5.jpg");
  padding-top: 4.5em;
  background-position: top 90% right 45%;
  left: -23%;
  background-size: cover;
  background-repeat: no-repeat;
}

.navbar {
  background-image: linear-gradient(rgba(0, 0, 0, 0.57), rgba(0, 0, 0, 0.9));
  position: fixed;
  top: 0;
  display: block;
  width: 100%;
}

.navbar ul {
  display: flex;
  justify-content: flex-end;
  float: right;
  width: 60%;
}

.navbar ul li {
  margin-right: 2em;
  display: inline-block;
  border: white solid 2px;
  border-radius: 5px;
  list-style: none;
  padding: 0.5em 0;
}
ul li a {
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  color: white;
}

.my-picture, .my-details {
  display: inline-block;
  width: 45%;
}

.my-details {
  display: inline-block;
  margin: 0 auto;
  width:50%;
  height: 100%;
  font-size: 1.4em;
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
  color: white;
}


.about-me {
  padding-top: 1.65em;
  background-color: #101010;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5));
  padding:2em 0;
  color: #d5d5d5;
  font-size: 1.4em;
}

.about-me h1 {
  text-align: center;
}

.about {
  margin: 1em 1em 2.4em;
}
.container{
  padding:0 3rem;
  display:flex;
  justify-content: space-around;
}

.skills, .hobbies, .interest {
  border: white solid 1px;
  display: inline-block;
  border-radius: 10px;
  width: 32%;
}

.contact-me {
  background: #101010;
  background-image: linear-gradient(rgba(0, 0, 0, 0.57), rgba(0, 0, 0, 0.9));
  color: #d5d5d5;
  text-align: center;
  padding: 7em 0;
}

.contact-me h1 {
  margin: 0;
}

form {
  padding-bottom: 2em;
  margin: auto;
  width: 50%;
}

label {
  font-size: 1.3em;
  float: left;
  padding: 0.2em 0.5em;
}

form div {
  margin-bottom: 1.3em;
}

input, textarea {
  outline: none;
  color: #d5d5d5;
  border: none;
  border-bottom:solid white 2px;
  width: 90%;
  background-color: #161616;
  border-radius: 6px;
  font-size:1.3rem;
  padding: 0.6em;
}
button{
padding:1.2em;
background-color:transparent;
color:white;
font-family: 'Montserrat', sans-serif;
font-size: 0.875em;
border-radius:5px;
}
@media(max-width:450px){
  .my-picture {
    display: inline-block;
    width: 100%;
    overflow:auto;
  }
  .my-details{
    display: inline-block;
    width:95%;
    padding:0.5rem;
  }
  .container{
    display:block;
    padding:0.5em;
  }
  .skills, .hobbies, .interest{
    display: block;
    margin:1.5em auto;
    width:100%;
    padding:0;
  }
  form {
    padding: 0;
    padding-bottom: 2em;
    margin: auto;
    width: 80%;
  }
  .navbar ul li{
    padding:0.5em 0;
  }
  
}
